<form action="/<%= @filename %>/update" method="post">
 Edit content of <%= @filename %>:<br>
 <textarea id="content" rows=20 cols=100 name="content"><%= @content %></textarea><br>
 <input type="submit" value="Save Changes">
</form>
