<ul>
  <% @filenames.each do |filename| %>
    <li>
      <a href="/<%= filename %>"><%= filename %></a>
      <a href="/<%= filename %>/edit">Edit</a>
      <form class="inline" method="post" action="/<%= filename %>/delete">
        <button type="submit">delete</button>
      </form>
    </li>
  <% end %>
</ul>

<a href="/new_file/create">New Document</a>
