<ul>
  <% @filenames.each do |filename| %>
  <li>
    <a href="/<%= filename %>"><%= filename %></a>
    <a href="/<%= filename %>/edit">Edit</a>
    <form method="post" action="/<%= filename %>/delete"><input type="submit" value="Delete"></form>
  <% end %>
</ul>

<a href="/new_file/create">New Document</a>
