<form method="post" action="/users/authenticate">
  Username: <input type="text" name="username" value="<%= params[:username] %>"/><br>
  Password: <input type="password" name="password"/><br>
  <input type="submit" value="Sign In"/>
</form>
